<div
  class="categories"
  style="
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0f0f0f;
  "
>
  <button class="rounded-button" style="color: black; background-color: white">
    All
  </button>
  <button class="rounded-button">Live</button>
  <button class="rounded-button">Gaming</button>
  <button class="rounded-button">Counter Strike</button>
  <button class="rounded-button">Javascript</button>
  <button class="rounded-button">Podcast</button>
  <button class="rounded-button">Mr Olympia</button>
  <button class="rounded-button">Body Building</button>
  <button class="rounded-button">Game Shows</button>
  <button class="rounded-button">Cooking Shows</button>
  <div class="mic-button">
    <span class="mic-icon"
      ><span
        style="
          color: white;
          font-size: 24px;
          padding: 8px;
          background-color: #0f0f0f;
        "
        class="material-icons"
        ><span class="material-symbols-outlined"> navigate_next </span></span
      ></span
    >
  </div>
</div>
